.navbar-custom {
  background-color: var(--primary);
  padding: 0.8rem 1rem;
}

.navbar-text {
  color: var(--light);
  font-size: 1rem;
}

.navbar-text:hover {
  color: var(--warning);
}

.nav-link {
  transition: color 0.3s ease;
  cursor: pointer;
}

.border-color {
  border: 2px solid var(--light);
  border-radius: 8px;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

