<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand navbar-text fw-bold border-color px-3 py-1" routerLink="/">
      User Management
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link navbar-text fw-semibold px-3" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-text fw-semibold px-3" routerLink="/newuser">Nuevo Usuario</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
