:root {
    --primary: #36413e;
    --secondary: #5d5e60;
    --success: #8d8d92;
    --danger: #e74c3c;
    --warning: #f5a623;
    --info: #beb2c8;
    --light: #d7d6d6;
    --dark: #2c2c2c;
  
    --background-color: #f9fafb;
    --card-background: #ffffff;
    --navbar-background: var(--primary);
    --text-color: #333333;
    --text-muted: #888888;
    --link-color: var(--secondary);
}

